<a href="https://colab.research.google.com/github/franciscocgomes/AvaliacaoEleitoral/blob/main/Etapa_3_An%C3%A1lise_Explorat%C3%B3ria_dos_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Etapa 3 - EDA, Storytelling e Visualização

Importando bibliotecas

In [1]:
import pandas as pd

In [19]:
# re = regular expressions
import re

In [10]:
Tabela_Candidatos_Final = pd. read_csv('Tabela_Candidatos_Final.csv')

In [12]:
Tabela_Candidatos_Final.head()

,Data_Hora,IDTweet,Tweet,Candidato
0,2022-07-31 12:11:15+00:00,1553714908310683648,@RivieraNathalia Bolsonaro 22 https://t.co/sc5...,Lula
1,2022-07-31 12:11:15+00:00,1553714906700062720,@willsilvareal @jairbolsonaro Melhor não ser c...,Lula
2,2022-07-31 12:11:14+00:00,1553714904426741763,O bolsonaro sempre foi o que os brasileiros sa...,Lula
3,2022-07-31 12:11:12+00:00,1553714897703280640,@guilherme_amado Dúvido que cassem o registro ...,Lula
4,2022-07-31 12:11:12+00:00,1553714895996305408,@LulaOficial @dilmabr Sua obra estava deterior...,Lula

In [13]:
Tabela_Candidatos_Final['Candidato'].unique()

array(['Lula', 'Bolsonaro', 'Ciro Gomes'], dtype=object)

In [14]:
Tabela_Candidatos_Final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Data_Hora  18 non-null     object
 1   IDTweet    18 non-null     int64
 2   Tweet      18 non-null     object
 3   Candidato  18 non-null     object
dtypes: int64(1), object(3)
memory usage: 704.0+ bytes

In [15]:
Tabela_Candidatos_Final.isnull()

    Data_Hora  IDTweet  Tweet  Candidato
0       False    False  False      False
1       False    False  False      False
2       False    False  False      False
3       False    False  False      False
4       False    False  False      False
5       False    False  False      False
6       False    False  False      False
7       False    False  False      False
8       False    False  False      False
9       False    False  False      False
10      False    False  False      False
11      False    False  False      False
12      False    False  False      False
13      False    False  False      False
14      False    False  False      False
15      False    False  False      False
16      False    False  False      False
17      False    False  False      False

In [16]:
Tabela_Candidatos_Final.isnull().sum()

Data_Hora    0
IDTweet      0
Tweet        0
Candidato    0
dtype: int64

Iniciando o tratamento de dados
Duplicando a coluna Tweet como Tweet_Limpo

In [17]:
Tabela_Candidatos_Final['Tweet_Limpo'] = Tabela_Candidatos_Final["Tweet"]

In [18]:
Tabela_Candidatos_Final.head()

,Data_Hora,IDTweet,Tweet,Candidato,Tweet_Limpo
0,2022-07-31 12:11:15+00:00,1553714908310683648,@RivieraNathalia Bolsonaro 22 https://t.co/sc5...,Lula,@RivieraNathalia Bolsonaro 22 https://t.co/sc5...
1,2022-07-31 12:11:15+00:00,1553714906700062720,@willsilvareal @jairbolsonaro Melhor não ser c...,Lula,@willsilvareal @jairbolsonaro Melhor não ser c...
2,2022-07-31 12:11:14+00:00,1553714904426741763,O bolsonaro sempre foi o que os brasileiros sa...,Lula,O bolsonaro sempre foi o que os brasileiros sa...
3,2022-07-31 12:11:12+00:00,1553714897703280640,@guilherme_amado Dúvido que cassem o registro ...,Lula,@guilherme_amado Dúvido que cassem o registro ...
4,2022-07-31 12:11:12+00:00,1553714895996305408,@LulaOficial @dilmabr Sua obra estava deterior...,Lula,@LulaOficial @dilmabr Sua obra estava deterior...

In [32]:
#Criando a função para depurar os dados da coluna Tweet
def limpeza_do_texto(Tweet):
  Tweet = Tweet.lower()
  Tweet = re.sub('\n', '', Tweet)
  Tweet = re.sub('@[^\s]+', '', Tweet)
  Tweet = re.sub('\B#\s+', '', Tweet)
  Tweet = re.sub('https?://\s+|www\.\s+', '', Tweet)
  return Tweet

In [33]:
Tabela_Candidatos_Final['Tweet_Limpo'] = Tabela_Candidatos_Final['Tweet'].apply(lambda i:limpeza_do_texto(i))

In [36]:
Tabela_Candidatos_Final.head()

,Data_Hora,IDTweet,Tweet,Candidato,Tweet_Limpo
0,2022-07-31 12:11:15+00:00,1553714908310683648,@RivieraNathalia Bolsonaro 22 https://t.co/sc5...,Lula,bolsonaro 22 https://t.co/sc5vfnnv6q
1,2022-07-31 12:11:15+00:00,1553714906700062720,@willsilvareal @jairbolsonaro Melhor não ser c...,Lula,melhor não ser coveiro do que agradecer a na...
2,2022-07-31 12:11:14+00:00,1553714904426741763,O bolsonaro sempre foi o que os brasileiros sa...,Lula,o bolsonaro sempre foi o que os brasileiros sa...
3,2022-07-31 12:11:12+00:00,1553714897703280640,@guilherme_amado Dúvido que cassem o registro ...,Lula,dúvido que cassem o registro da candidatura d...
4,2022-07-31 12:11:12+00:00,1553714895996305408,@LulaOficial @dilmabr Sua obra estava deterior...,Lula,sua obra estava deteriorada. arrasada pelo t...

In [38]:
Tabela_Candidatos_Final.to_csv('Tabela_Candidatos_Final.csv', sep=",", index=False)