<a href="https://colab.research.google.com/github/franciscocgomes/AvaliacaoEleitoral/blob/main/Etapa_4_EDA%2C_Storytelling_e_Visualiza%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
Tabela_Candidatos_Final = pd.read_csv('Tabela_Candidatos_Final.csv')

In [5]:
Tabela_Candidatos_Final.head()

,Data_Hora,IDTweet,Tweet,Candidato,Tweet_Limpo
0,2022-07-31 12:11:15+00:00,1553714908310683648,@RivieraNathalia Bolsonaro 22 https://t.co/sc5...,Lula,bolsonaro 22 https://t.co/sc5vfnnv6q
1,2022-07-31 12:11:15+00:00,1553714906700062720,@willsilvareal @jairbolsonaro Melhor não ser c...,Lula,melhor não ser coveiro do que agradecer a na...
2,2022-07-31 12:11:14+00:00,1553714904426741763,O bolsonaro sempre foi o que os brasileiros sa...,Lula,o bolsonaro sempre foi o que os brasileiros sa...
3,2022-07-31 12:11:12+00:00,1553714897703280640,@guilherme_amado Dúvido que cassem o registro ...,Lula,dúvido que cassem o registro da candidatura d...
4,2022-07-31 12:11:12+00:00,1553714895996305408,@LulaOficial @dilmabr Sua obra estava deterior...,Lula,sua obra estava deteriorada. arrasada pelo t...

In [6]:
pip install vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 4.9 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2022.6.15)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [17]:
import nltk
import re

In [8]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as sia

In [9]:
Tabela_Sentimento = Tabela_Candidatos_Final

In [19]:
Tabela_Candidatos_Final.head()

,Data_Hora,IDTweet,Tweet,Candidato,Tweet_Limpo,Sentimento
0,2022-07-31 12:11:15+00:00,1553714908310683648,@RivieraNathalia Bolsonaro 22 https://t.co/sc5...,Lula,bolsonaro 22 https://t.co/sc5vfnnv6q,bolsonaro 22 https://t.co/sc5vfnnv6q
1,2022-07-31 12:11:15+00:00,1553714906700062720,@willsilvareal @jairbolsonaro Melhor não ser c...,Lula,melhor não ser coveiro do que agradecer a na...,melhor não ser coveiro do que agradecer a na...
2,2022-07-31 12:11:14+00:00,1553714904426741763,O bolsonaro sempre foi o que os brasileiros sa...,Lula,o bolsonaro sempre foi o que os brasileiros sa...,o bolsonaro sempre foi o que os brasileiros sa...
3,2022-07-31 12:11:12+00:00,1553714897703280640,@guilherme_amado Dúvido que cassem o registro ...,Lula,dúvido que cassem o registro da candidatura d...,dúvido que cassem o registro da candidatura d...
4,2022-07-31 12:11:12+00:00,1553714895996305408,@LulaOficial @dilmabr Sua obra estava deterior...,Lula,sua obra estava deteriorada. arrasada pelo t...,sua obra estava deteriorada. arrasada pelo t...

In [21]:
Tabela_Candidatos_Final.isnull()

    Data_Hora  IDTweet  Tweet  Candidato  Tweet_Limpo  Sentimento
0       False    False  False      False        False       False
1       False    False  False      False        False       False
2       False    False  False      False        False       False
3       False    False  False      False        False       False
4       False    False  False      False        False       False
5       False    False  False      False        False       False
6       False    False  False      False        False       False
7       False    False  False      False        False       False
8       False    False  False      False        False       False
9       False    False  False      False        False       False
10      False    False  False      False        False       False
11      False    False  False      False        False       False
12      False    False  False      False        False       False
13      False    False  False      False        False       False
14      False    False  False      False        False       False
15      False    False  False      False        False       False
16      False    False  False      False        False       False
17      False    False  False      False        False       False

In [26]:
Tabela_Sentimento.head()

,Data_Hora,IDTweet,Tweet,Candidato,Tweet_Limpo,Sentimento
0,2022-07-31 12:11:15+00:00,1553714908310683648,@RivieraNathalia Bolsonaro 22 https://t.co/sc5...,Lula,bolsonaro 22 https://t.co/sc5vfnnv6q,bolsonaro 22 https://t.co/sc5vfnnv6q
1,2022-07-31 12:11:15+00:00,1553714906700062720,@willsilvareal @jairbolsonaro Melhor não ser c...,Lula,melhor não ser coveiro do que agradecer a na...,melhor não ser coveiro do que agradecer a na...
2,2022-07-31 12:11:14+00:00,1553714904426741763,O bolsonaro sempre foi o que os brasileiros sa...,Lula,o bolsonaro sempre foi o que os brasileiros sa...,o bolsonaro sempre foi o que os brasileiros sa...
3,2022-07-31 12:11:12+00:00,1553714897703280640,@guilherme_amado Dúvido que cassem o registro ...,Lula,dúvido que cassem o registro da candidatura d...,dúvido que cassem o registro da candidatura d...
4,2022-07-31 12:11:12+00:00,1553714895996305408,@LulaOficial @dilmabr Sua obra estava deterior...,Lula,sua obra estava deteriorada. arrasada pelo t...,sua obra estava deteriorada. arrasada pelo t...

In [30]:
Tabela_Sentimento.isna()

    Data_Hora  IDTweet  Tweet  Candidato  Tweet_Limpo  Sentimento
0       False    False  False      False        False       False
1       False    False  False      False        False       False
2       False    False  False      False        False       False
3       False    False  False      False        False       False
4       False    False  False      False        False       False
5       False    False  False      False        False       False
6       False    False  False      False        False       False
7       False    False  False      False        False       False
8       False    False  False      False        False       False
9       False    False  False      False        False       False
10      False    False  False      False        False       False
11      False    False  False      False        False       False
12      False    False  False      False        False       False
13      False    False  False      False        False       False
14      False    False  False      False        False       False
15      False    False  False      False        False       False
16      False    False  False      False        False       False
17      False    False  False      False        False       False

In [31]:
Tabela_Sentimento['Sentimento'] = Tabela_Sentimento['Sentimento'].apply(lambda i:sia.polarity_scores(' ',.join(re.findall(r'\w+',i.lower))))

SyntaxError: ignored